.navbar {
    width: 10%;
    height: 10vh;
    position: fixed;
    background-color: none;

    --text-primary: #ececec;
    --text-secondary: #b6b6b6;
    --bg-primary: #23232e;
    --bg-secondary: #141418;
    --transition-speed: 600ms;

    font-family: 'Times New Roman', Times, serif;  
}

.navbar-nav {
    list-style: none;
    padding: 0;
    margin: 0;
}

.nav-item {
    width: 100%;
    height: 5rem;
}

.nav-link {
    display: flex;
    align-items: center;
    color: var(--text-primary);
    text-decoration: none;
    filter: grayscale(20%) opacity(0.8);
    transition: var(--transition-speed);
}

.nav-link:hover {
    filter: grayscale(0%) opacity(0.5);
    color: var(--text-secondary);
}

.link-text {
    display: none;
    margin-left: 1rem;
    color: whitesmoke;
}

.svg {
    margin: 0 1.5rem;
}

.navbar:hover {
    width: 100%;
    /* background-color: white; */
}

.navbar:hover .link-text {
    display: block;
    /* color: red; */
}

.arrow {
    margin-bottom: 2rem;
    text-align: center;
    font-size: 2rem;
    letter-spacing: 0.3ch;
}

#arrow {
    transform: rotate(0deg);
    transition: transform var(--transition-speed);
}

.navbar:hover #arrow {
    transform: rotate(-180deg);
}

/* Small screens */
@media only screen and (max-width: 600px) {
    .navbar {
      bottom: 0;
      width: 100vw;
      height: 5rem;
    }

    .arrow {
        display: none;
    }

    .navbar-nav {
        flex-direction: row;
    }

    .nav-link {
        justify-content: center;
    }
}